@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  user-select: none;
}
img {
  -webkit-user-drag: none;
  user-select: none;
}

.menu-item {
  @apply cursor-pointer py-4 pe-20 ps-8 text-sm hover:bg-secondary-200;
}
.nav-item {
  @apply rounded-full p-3 text-secondary-800 transition-colors;
}
.nav-item:not(.active) {
  @apply hover:bg-secondary-200;
}

.nav-item.active {
  @apply font-medium text-black;
}

.search-shadow {
  box-shadow:
    0 3px 12px 0 rgba(0, 0, 0, 0.1),
    0 1px 2px 0 rgba(0, 0, 0, 0.08);
}

.back {
  background-color: #ffffff29;
}
